<div class="options transition">
    <ul>
        <li ng-repeat="opt in options"
            class="hand transition"
            emd-change-location-to={{opt.location}}
            ng-if="opt.location">
            <i class="fa fa-{{opt.icon}}"></i>
        </li>

        <li ng-repeat="opt in options"
            class="hand transition"
            data-toggle="modal"
            data-target="{{opt.modal.id}}"
            ng-if="opt.modal">
            <i class="fa fa-{{opt.icon}}"></i>
        </li>

        <li class="plus-info">
            <i class="fa fa-plus"></i>
        </li>
    </ul>
</div>