<div class="main-container transition center-container"
     ng-controller="PostController as postCtrl">
    <div class="card">

        <h1 class="title">new post :D</h1>

        <form name="PostForm"
              ng-submit="postCtrl.createPost(postCtrl.post)"
              class="form-group"
              novalidate>
            <div>
                <div class="input-group input-group-lg">

                    <span class="input-group-addon fa fa-fw fa-pencil"></span>

                    <input type="text"
                           class="no-outline form-control input-lg"
                           maxlength="100"
                           ng-maxlength="100"
                           ng-minlength="1"
                           required
                           ng-model="postCtrl.post.title"
                           placeholder="post title"
                           autofocus/>
                </div>

                <div class="input-group input-group-lg espaco-top">
                    <span class="input-group-addon fa fa-fw fa-smile-o"></span>

                    <input type="url"
                           class="no-outline form-control input-lg"
                           maxlength="100"
                           ng-maxlength="100"
                           ng-minlength="1"
                           name="imageUrl"
                           required
                           ng-model="postCtrl.post.imageUrl"
                           placeholder="image url"/>
                </div>
            </div>

            <div class="pull-right top-space">
                <button type="button"
                        class="btn btn-warning btn-lg no-outline hand"
                        ng-show="postCtrl.post.isNew()"
                        ng-click="postCtrl.createPost(postCtrl.post)"
                        ng-disabled="PostForm.$invalid || postCtrl.post.isInvalid()">
                            <span class="fa fa-fw fa-send"></span>
                        </button>

                <button type="button"
                        class="btn btn-link btn-lg no-outline hand"
                        data-dismiss="modal">
                            <span class="fa fa-fw fa-close"></span>
                        </button>
            </div>
        </form>

    </div>
</div>