<div class="main-container transition center-container">
    <div id="card-usuario-deslogado"
         class="card"
         ng-if="userCtrl.user.isNew()">

        <h1 class="title">User</h1>

        <form name="UserForm"
              ng-submit="userCtrl.save(userCtrl.user)">
            <div>
                <div class="input-group input-group-lg">

                    <span class="input-group-addon fa fa-fw fa-envelope-o"></span>

                    <input type="email"
                           class="form-control no-outline input-lg"
                           maxlength="33"
                           ng-maxlength="33"
                           ng-minlength="3"
                           required
                           ng-model="userCtrl.user.username"
                           ng-blur="userCtrl.lookForUser(username)"
                           placeholder="E-mail"
                           autofocus/>
                    </div>

                <div class="input-group input-group-lg espaco-top">

                    <span class="input-group-addon fa fa-fw fa-lock"></span>

                    <input type="password"
                           class="form-control no-outline input-lg"
                           maxlength="33"
                           ng-maxlength="33"
                           ng-minlength="3"
                           placeholder="Password"
                           ng-model="userCtrl.user.password"
                           required/>
                </div>
            </div>

            <div class="pull-right top-space">

                <button type="button"
                        class="btn btn-lg btn-warning"
                        ng-disabled="UserForm.$invalid || userCtrl.user.isInvalid()"
                        ng-click="userCtrl.login(userCtrl.user)">login</button>

                <button type="button"
                        class="btn btn-lg btn-link"
                        emd-change-location-to="/">back</button>
            </div>
        </form>

    </div>

    <div id="card-usuario-logado"
         class="card"
         ng-if="!userCtrl.user.isNew()">

        <h1 class="title">about <span ng-bind="userCtrl.user.username"></span></h1>

        <div id="user-info-container" class="card-padding">
            <div>
                <i class="fa fa-user icon-rounded"></i>
                <span id="username" ng-bind="userCtrl.user.username"></span>
            </div>

            <div class="default-margin-top">
                <p id="user-type">user is a <span class="important" ng-bind="userCtrl.user.type"></span>.</p>
            </div>

            <div class="default-margin-top">
                <p id="user-posts">posted <span class="important">456454</span> times.</p>
            </div>

            <div class="default-margin-top">
                <p id="user-comment">commented <span class="important">87987</span> times.</p>
            </div>

            <div class="default-margin-top">
                <p id="user-loved-back">received <span class="important" ng-bind="userCtrl.user.smiles"></span> smiles.</p>
            </div>
        </div>

    </div>
</div>