.hand:not([disabled]):hover {cursor: pointer;}
.no-outline:focus, .no-outline:active {outline: 0;}
.filter:focus {box-shadow: 0 0 1px orange;}
.card:hover .post-info {color: #333;}
.options:hover {top: 0;}
.options:hover .plus-info {visibility: collapse;}
.options li:hover {opacity: 1;}
.smile:hover {box-shadow: inset 0 9px 10px -10px yellow;}
.smile:active {background-color: orange;}
.submit-button:not([disabled]):active {background-color: orange;}