@import "variables.less";

.hand:not([disabled]):hover {cursor: pointer;}
.no-outline:focus, .no-outline:active {outline: 0;}
.smile:hover {box-shadow: @on-smile-hover;}
.smile:active {background-color: @base-color;}

.form-control:focus {border: @input-border;}