@media (min-width: 30em)
{
    #logo {width: 7em;}
}

@media (min-width: 40em)
{
    .card form {padding: 1em 2em;}
    .lulz-written {font-size: 5.5em;}
}

@media (min-width: 50em)
{
    #logo {width: 10em; border: 10px solid orange; margin-top: 2em;}

    .card img {width: auto;}
    .title {font-size: 3em;}
    .filter {width: 60%; float: right;}
    .visible-mobile {display: none;}
    .visible-desktop {display: block;}
    .options {position: fixed; top: -24em; left: 0;}
    .options li {width: 3em;}
    .smile {font-size: 80px;}
    .card .post-content {padding-left: .5em; padding-right: .5em; padding-bottom: 10em;}

    header {text-align: left;}
    body {margin: 0;}
}

@media (min-width: 60em)
{
    .lulz-written {font-size: 7em;}
}

@media (min-width: 70em)
{
    .main-container, header {margin-top: 2em;}
    .title {font-size: 3.5em;}
}

@media (min-width: 85em)
{
    .lulz-written {font-size: 8em; margin-top: .15em;}
    .title {font-size: 4em;}
}