@import "variables.less";

@media (min-width: @tablet-size)
{
    .card form {padding: 1em 2em;}
}

@media (min-width: @big-tablet-size)
{
    #logo {width: @logo-size-desktop; border: 10px solid orange; margin-top: 2em;}

    .card img {width: auto;}
    .title {font-size: 3em;}
    .filter {width: 60%; float: right;}
    .visible-mobile {display: none;}
    .visible-desktop {display: block;}
    .smile {font-size: @gigantic-icon-desktop; width: @corner-smile-card;}
    .card .post-content {padding-left: .5em; padding-right: .5em; padding-bottom: 10em;}
}

@media (min-width: @desktop-size)
{
    .main-container, header {margin-top: @double-margin-top;}
    .title {font-size: @bigger-font-size;}
}

@media (min-width: @big-desktop-size)
{
    .title {font-size: @bigger-font-size;}
}