#logo {border-radius: 100%; border: 5px solid orange;}
#to-the-top {color: white; background-color: black; border-radius: 100%; font-weight: bold; opacity: .5;}

.smile {background-color: tomato; color: white;}
.lulz-written {font-family: "GoodDog"; color: orange; text-shadow: 2px 2px rgba(255, 69, 0, 0.6);}
.important {color: orangered;}
.card .icon-rounded {border: 5px solid rgba(211, 211, 211, 0.53); background-color: rgba(255, 165, 0, 0.2);}
.submit-button, .cancel-button {border: none; color: white; font-weight: bold; border: 1px solid inherit;}
.submit-button[disabled], .cancel-button[disabled] {opacity: .3;}
.submit-button {background-color: orangered;}
.cancel-button {background-color: deepskyblue;}
.options a {color: #fff;}
.card img {border-radius: 2px;}
.card .post-info {color: #AAA;}
.card {color: #555; background-color: rgba(245, 245, 245, 0.69); border-radius: 2px;}
.filter-container .search {color: #777; font-size: 20px;}
.options li {background-color: orangered; border-bottom: 3px solid rgba(255, 215, 0, 0.7); color: #fff; font-weight: bold; opacity: .8;}
.title {font-size: 2em; text-transform: uppercase; color: tomato; font-weight: normal;}
.visible-mobile {display: block;}
.visible-desktop {display: none;}
.transition
{
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

body {background: url(../img/background.png) rgba(153, 139, 61, 0.2); font-family: "Open Sans Regular", "Segoe UI", 'Helvetica Neue', Verdana, Arial, Helvetica, sans-serif;}
input.ng-dirty.ng-invalid {border-color: red;}
ul {list-style: none; padding-left: 0;}
form label {font-size: 20px;}