<div class="main-container transition center-container">
    <div class="filter-container">
        <i class="fa fa-search search"></i>

        <input type="text"
               class="filter no-outline"
               placeholder="I wanna check out.."
               maxlength="44"
               ng-model="search"
               autofocus/>
    </div>

    <div class="card transition"
         ng-repeat="card in mainCtrl.cards | filter: search">

        <h1 class="title hand">{{card.title}}</h1>

        <div class="post-content">

            <img src="{{card.img}}" />

            <div class="post-info right transition">
                <span class="smile hand">
                    <i class="fa fa-smile-o"></i>
                     {{card.loves}}
                </span>

                <span class="comment hand">
                    <i class="fa fa-comments-o"></i>
                    {{card.comments}}
                </span>
            </div>
        </div>
    </div>
</div>