<div class="main-container transition center-container">
    <div class="card">

        <h1 class="title">post creation</h1>

        <form name="postForm" ng-submit="postCtrl.createPost(postCtrl.post)">
            <div>
                <label class="block">title</label>
                <input type="text"
                       maxlength="100"
                       ng-maxlength="100"
                       ng-minlength="1"
                       required
                       ng-model="postCtrl.post.title"
                       class="no-outline"
                       autofocus/>

                <label class="block default-margin-top">image url</label>
                <input type="text"
                       maxlength="100"
                       ng-maxlength="100"
                       ng-minlength="1"
                       required
                       ng-model="postCtrl.post.imageUrl"
                       class="no-outline" />
            </div>

            <div class="right">
                <button type="button"
                        class="submit-button no-outline hand"
                        ng-show="postCtrl.post.isNew()"
                        ng-click="postCtrl.createPost(postCtrl.post)"
                        ng-disabled="postForm.$invalid || postCtrl.post.isInvalid()">create post</button>

                <button type="button"
                        class="submit-button no-outline hand"
                        ng-hide="postCtrl.post.isNew()"
                        ng-disabled="postForm.$invalid || postCtrl.post.isInvalid()">save changes</button>

                <button type="button"
                        class="cancel-button no-outline hand"
                        emd-change-location-to="/">back</button>
            </div>
        </form>

    </div>
</div>